body {
    display: flex;
    height: 100%;
}

.library-div {
    width: 30%;
    height: 100%;
    text-align: center;
}

.main-div {
    width: 70%;
    height: 100%;
    text-align: center;
}

.project-link:hover {
    color: rgb(78, 75, 75);
    cursor: pointer;
}

.to-do-div {
    display: flex;
    box-shadow: 0 8px 4px rgb(53, 52, 52);
    margin: 2vw 0;
    justify-content: space-between;
    justify-content: space-around;
}