body {
    display: flex;
    height: 100%;
}

.library-div {
    width: 30%;
    height: 100%;
    text-align: center;
}

.main-div {
    width: 70%;
    height: 100%;
    text-align: center;
}

.project-link:hover {
    color: rgb(78, 75, 75);
    cursor: pointer;
}

.to-do-div {
    display: flex;
    box-shadow: 0 0 8px 2px rgb(168, 168, 168);
    margin: 2vw 3vw;
    justify-content: space-between;
    justify-content: space-around;
    border-radius: 10px;
}

.input-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1vw;
}

#project-name {
    width: 40%;
    margin: auto;
}

.to-do-input-div {
    display: grid;
    column-gap: 5px;
    grid-template-columns: 33% 33% 33%;
}

#create-to-do {
    grid-row: 1 / span 2;
    grid-column: 3 / 4;
}

.checkbox {
    text-align: center;
    align-self: center;
}